.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.mat-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    font-size: 12px;
    width: 80%;
    margin: 10px;
    /* margin-right: 20px; */
    margin-left: 24px;
}
.save-btn {
    cursor: pointer;
    border: none;
    background-color: #67bcec;
    color: #fff;
}
.save-btn:hover {
    background-color: #079ff7;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
.login-btn {
    cursor: pointer;
    border: none;
    background-color: #f585d9;
    color: #fff;
}
.login-btn:hover {
    background-color: #f70cbc;
}
