<p>getuserprofile works!</p>
<!-- <div class="profile-container">
    <h2>User Profile</h2>
    
    <div *ngIf="user">
      <p><strong>User ID:</strong> {{ user.userId }}</p>
      <p><strong>Name:</strong> {{ user.userName }}</p>
      <p><strong>Password:</strong> {{ user.password }}</p>
      <p><strong>Email:</strong> {{ user.userEmailId }}</p>
      <p><strong>Address:</strong> {{ user.userAddress }}</p>
      <div>
        <button type="button" (click)="onEditUserData(user)">Update Profile</button>
        <button type="button" (click)="onClick()">Back</button>
      </div>
    </div>
    
    <div *ngIf="!user">
      <p>No user data available.</p>
    </div>
  </div> -->